*{
	padding: 0;
	margin: 0;
}

.things1{
	 
}

.things1{
	background-color: black;
	color: #fff;
}
.secreat1{
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
}
.con2{
	background-color: #fff;
	padding: 30px;
	border: 1px solid #ccc;
}